[submodule "core/user/SuperShell"]
	path = core/user/SuperShell
	url = https://github.com/StNiosem/SuperShell
[submodule "core/interface/PnFloat"]
	path = core/interface/PnFloat
	url = https://github.com/StNiosem/PnFloat
[submodule "lib/business/GLibLicences"]
	path = lib/business/GLibLicences
	url = https://github.com/StNiosem/GLibLicences
